@model dynamic

@{
    ViewBag.Title = "Code of Conduct";
}

<section id="info" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Uppförandekod</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Alla deltagare, presentatörer, sponsorer och medhjälpare på vår konferens måste acceptera
                    denna uppförandekod. Arrangörerna kommer att genomdriva policyn under hela konferensen. Vi
                    förväntar oss ett bra samarbete från alla deltagare för att säkerställa en trevlig
                    konferensupplevelse för alla.
                </p>

                <h3>Behöver du hjälp?</h3>
                <p>
                    Kontaktuppgifter finns i de e-postmeddelanden du har fått från oss.
                </p>

                <h3>Den snabba versionen</h3>
                <p>
                    Denna konferens är fast besluten att erbjuda en upplevelse fri från trakasserier
                    oavsett kön, sexuell läggning, handikapp, utseende, kroppsstorlek, ras eller religion.
                    Vi utövar nolltolerans när det gäller trakasserier av konferensdeltagarna.
                    Sexualiserat språk eller sexualiserade bilder är inte lämpligt i samband med
                    konferensen, oavsett om det rör sig om föreläsningar, seminarier, sociala evenemang,
                    Twitter eller andra tillfällen. Konferensdeltagare som bryter mot denna policy kommer
                    att tillrättavisas, i värsta fall genom att organisatörerna beslutar om avvisning från
                    konferensen utan återbetalning av biljettkostnaden.
                </p>

                <h3>Den något längre versionen</h3>
                <p>
                    Till trakasserier räknas exempelvis kränkande kommentarer relaterade till sexuell
                    läggning, handikapp, utseende, storlek, ras och religion, sexuella bilder,
                    avsiktliga hot, förföljelse, oönskad fotografering och/eller filmning, ihållande
                    störning av föreläsningar och andra evenemang, olämplig fysisk kontakt och ovälkommen
                    sexuell uppmärksamhet.
                </p>
                <p>
                    Deltagare som uppmanas att upphöra med trakasserande beteende förväntas uppfylla denna
                    begäran omedelbart.
                </p>

                <p>
                    Denna policy gäller även sponsorer. Sponsorer får inte använda sexualiserade
                    bilder, aktiviteter eller annat material. Monterpersonal skall inte använda sexualiserade
                    kläder/uniformer/kostymer eller på annat sätt skapa en sexualiserad miljö.
                </p>
                <p>
                    Om en deltagare gör sig skyldig till trakasserier kommer konferensens organisatörer att
                    vidta de åtgärder de anser lämpliga. Det kan röra sig om allt ifrån en varning till att
                    deltagaren avvisas från konferensen utan återbetalning av biljettkostnaden.
                </p>

                <p>
                    Om du blir trakasserad, ser någon annan bli trakasserad, eller har några andra frågor;
                    vänligen ta kontakt med någon av konferensens organisatörer/medhjälpare omedelbart.
                    Organisatörer och medhjälpare kan identifieras genom att de bär t-shirts märkta med
                    konferensens namn.
                </p>
                <p>
                    Blir du trakasserad kommer konferensens organisatörer och medhjälpare att hjälpa dig
                    anmäla händelsen till säkerhetsansvariga på hotellet/lokalen eller till polisen. De finns
                    där för att följa med dig eller på annat sätt vara till hjälp så att du kan känna dig
                    trygg och säker under hela konferensen. Vi värdesätter ditt deltagande.
                </p>
                <p>
                    Vi förväntar oss att alla deltagare följer dessa riktlinjer när de är på konferensen
                    eller andra relaterade aktiviteter.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <small>
                    Originalkälla: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br/>
                    Hjälp oss med översättningar eller andra förbättringar: <a href="http://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br/>
                    Denna text är licensierad enligt Creative Commons Attribution 3.0 Unported License<br/>
                </small>
            </div>
        </div>
    </div>
</section>

