
@{
    ViewBag.Title = "Now";
    Layout = "~/Areas/Swetugg2017/Views/Shared/_LayoutNow.cshtml";
}

<section id="speakers" class="even-section content-section text-center" ng-controller="NowController">
    <div class="program-section">
        <div class="container">
            <div class="row">
                <h2>Just nu</h2>
                <div>{{ currentSlot.Start }} - {{ currentSlot.End }}</div>
                <div>{{ currentSlot.Title }}</div>
                <div ng-repeat="session in currentSlot.Sessions">
                    <p>
                        <div>{{ session.Name }}</div>
                    </p>
                </div>
            </div>
            <div class="row">
                <h2>Kommer härnäst</h2>
                <div>{{ nextSlot.Start }} - {{ nextSlot.End }}</div>
                <div>{{ nexttSlot.Title }}</div>
                <div ng-repeat="session in nextSlot.Sessions">
                    <p>
                        <div>{{ session.Name }}</div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


