@model dynamic

@{
    ViewBag.Title = "Code of Conduct";
}

<section id="info" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Uppförandekod</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Snabbversionen</h2>
                <p>
                    Det är viktigt för oss att erbjuda en trygg och inkluderande konferensupplevelse för alla - och
                    vi är måna om att deltagare som bidrar till en ökad mångfald känner sig välkomna. En viktig
                    förutsättning är att konferensen är fri från trakasserier - dvs uppträdanden som kränker
                    någons värdighet - och det är den som påverkas som avgör om ett beteende känns ok eller
                    inte. Sexuellt eller fördomsfullt språk och bildspråk ska undvikas i samtliga
                    konferensens sammanhang, inklusive föredrag, workshops, fester, Twitter etc.
                    Konferensdeltagare som - enligt arrangörens ensidiga bedömning - bryter mot dessa regler
                    kan avvisas från konferensen utan återbetalning.
                </p>
                <h2>Den mindre snabba versionen</h2>
                <p>
                    Det råder nolltolerans mot trakasserier på konferensen och vi ser särskilt allvarligt på
                    trakasserier som har samband med kön, könsidentitet och -uttryck, ålder, sexuell läggning,
                    funktionshinder, utseende, kroppsstorlek, etnicitet eller religion.
                </p>
                <p>
                    Trakasserier definieras här som ett uppträdande som kränker någons värdighet - oavsett om
                    kränkningen sker direkt genom ett beteende som riktar sig mot en specifik person eller
                    indirekt, genom olämpligt uppträdande i sammanhang som medför att det kränkande budskapet
                    når den som illa berörs. Det är den som utsätts eller påverkas av ett uppträdande, som
                    avgör om det känns harmlöst eller kränkande.
                </p>
                <p>
                    Begreppet omfattar bland annat ovälkomna eller olämpliga kommentarer med anknytning till
                    - eller påträngande nyfikenhet avseende - kön, könsidentitet och -uttryck, ålder, sexuell
                    läggning, funktionshinder, utseende, kroppsstorlek, etnicitet eller religion. Även
                    oombedd sexuell uppmärksamhet i form av kommentarer eller gester utgör trakasserier,
                    liksom oombedd eller ovälkommen beröring. Andra beteenden som kan omfattas av begreppet
                    är exempelvis visning av sexuella bilder, avsiktlig skrämsel, förföljelse, oönskad
                    fotografering eller inspelning, samt ihållande avbrott i föredrag eller andra
                    aktiviteter.
                </p>
                <p>
                    Förutom rena trakasserier förväntar vi oss att deltagare uppför sig på ett sätt som
                    bidrar till att konferensen upplevs som inkluderande av alla - oavsett kön,
                    könsidentitet och -uttryck, ålder, sexuell läggning, funktionshinder, utseende,
                    kroppsstorlek, etnicitet eller religion. Att lufta sina fördomar om olika grupper,
                    tillskriva individer egenskaper utifrån stereotyper kring grupper, samt att resonera
                    kring vad som är ’normalt’ eller ’naturligt’, är typexempel på sådant som har en
                    exkluderande verkan.
                </p>
                <p>
                    Deltagare som uppmärksammas på att ett beteende är ovälkommet, olämpligt eller kränkande,
                    förväntas upphöra med detta omedelbart.
                </p>
                <p>
                    Om någon deltagare - enligt konferensarrangörernas ensidiga bedömning - ägnat sig åt
                    trakasserier, så kan konferenspersonal utfärda en varning eller avvisa deltagaren från
                    konferensen utan återbetalning.
                </p>
                <p>
                    Sponsorer förväntas värna om en inkluderande konferensmiljö och omfattas också av
                    trakasseriförbudet. Sponsorer ska avstå från marknadsföring som kan bidra till att skapa
                    en sexualiserad miljö på konferensen.
                </p>
                <p>
                    Om du känner dig trakasserad eller märker att någon annan är utsatt för trakasserier,
                    vänligen kontakta konferenspersonalen. Konferenspersonal kan identifieras genom märkta
                    tröjor.
                </p>
                <p>
                    Samtliga deltagare förväntas följa dessa regler på konferensen, eventuella workshops och
                    konferensrelaterade sociala arrangemang. Riktlinjerna bör respekteras även på nätet medan
                    konferensen pågår, under vissa omständigheter. Om det budskap som publiceras - till
                    exempel på sociala medier - troligt dyker upp i de andra deltagarnas flöden eftersom det
                    relateras till konferensen, så är det nämligen ingen större skillnad mot att yttra
                    budskapet verbalt i lokalerna. Vi ber er därför att fundera över om det ni vill publicera
                    riskerar att motverka en inkluderande miljö på konferensen - och i sådana fall använda
                    gott omdöme, till exempel genom att begränsa spridningen eller kopplingen till
                    konferensen.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <small>
                    Denna uppförandekod bygger på ett original från <a href="http://confcodeofconduct.com">http://confcodeofconduct.com</a><br/>
                    Stort tack till Lina Flitig som hjälpt oss anpassa den för våra behov.<br />
                    Texten är licensierad enligt Creative Commons Attribution 3.0 Unported License
                </small>
                <br /><br />
                <small>
                    You can find an English version of this Code of Conduct at <a href="http://confcodeofconduct.com">http://confcodeofconduct.com</a>.
                </small>
            </div>
        </div>
    </div>
</section>

