@using Swetugg.Web.Models
@model dynamic

@{
    Conference conference = ViewBag.Conference;

    ViewBag.Title = conference.Name + " - Call For Papers - Invite";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Start", "Start", "Home", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("Call For Papers", "Index", "CallForPapers", new { Area = "" }, null)</li>
    <li>@Html.ActionLink(conference.Name, "Conference", "CallForPapers", new { Area = "", conferenceSlug = conference.Slug }, null)</li>
    <li class="active">Invite</li>
</ol>

<h2>Call For Papers - Invite</h2>

@if (ViewBag.Success)
{
    <p>
        You are now allowed to add sessions event though the CFP has ended.
    </p>
    <p>
        Head to the @Html.ActionLink(conference.Name + " CFP site", "Conference") and enter your information.
    </p>
}
else
{
    <p class="warning">Sorry, invalid invitation code</p>
}