@using Swetugg.Web.Models

@{
    ViewBag.Title = "Now";
    Layout = "~/Areas/Swetugg2019/Views/Shared/_LayoutNow.cshtml";

    IEnumerable<Sponsor> sponsors = ViewBag.Sponsors;
    if (sponsors == null)
    {
        sponsors = new List<Sponsor>();
    }
}

<section id="now" class="even-section content-section text-center" ng-controller="NowController">
    <div class="now-section">
        <div class="container">
            <div class="row" ng-if="currentSlot" style="margin-bottom: 40px;">
                <h2>Current <small>{{ currentSlot.Start | date: 'HH:mm' }} - {{ currentSlot.End | date: 'HH:mm' }}</small></h2>

                <div ng-if="currentSlot.Title">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ currentSlot.Title }}
                            </h3>
                        </div>
                    </div>
                </div>
                <div ng-if="!currentSlot.Title" ng-repeat="session in currentSlot.Sessions">
                    <div ng-if="session.Name" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ session.Name }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div style="margin-bottom: 15px;" trunk8="{text: session.Description, more: '+more', less: '-less', expendable: true, resizable: false}">
                            </div>
                            <div style="float: left;" ng-repeat="tag in session.Tags">
                                <span class="label label-default" data-toggle="tooltip" data-placement="right" title="{{ tag.Description }}">{{ tag.Name }}</span>
                            </div>
                            <div style="float: right; margin-left: 20px;">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{ session.Room }}
                            </div>
                            <div style="float: right;">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span ng-repeat="speaker in session.Speakers"><span ng-if="$index > 0">, </span><a href="./speakers/{{ speaker.Slug }}">{{ speaker.Name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="nextSlot" style="margin-bottom: 40px;">
                <h2>Next <small>{{ nextSlot.Start | date: 'HH:mm' }} - {{ nextSlot.End | date: 'HH:mm' }}</small></h2>

                <div ng-if="nextSlot.Title" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ nextSlot.Title }}
                        </h3>
                    </div>
                </div>
                <div ng-if="!nextSlot.Title" ng-repeat="session in nextSlot.Sessions">
                    <div ng-if="session.Name" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ session.Name }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div style="margin-bottom: 15px;" trunk8="{text: session.Description, more: '+more', less: '-less', expendable: true, resizable: false}">
                            </div>
                            <div style="float: right; margin-left: 20px;">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{ session.Room }}
                            </div>
                            <div style="float: right;">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span ng-repeat="speaker in session.Speakers"><span ng-if="$index > 0">, </span><a href="./speakers/{{ speaker.Slug }}">{{ speaker.Name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="codeofconduct" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <a href="https://get.everens.com/events?id=swetugg-2019" class="btn btn-default btn-lg">Get the app</a>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-xs-12" style="text-align: center;">
                <a href="code-of-conduct" class="btn btn-default btn-lg">Our Code of Conduct</a>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline banner-buttons">
                    <li>
                        <a href="https://twitter.com/swetugg" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    @*<li>
                        <a href="https://facebook.com/swetugg" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>*@
                    <li>
                        <a href="https://www.flickr.com/photos/swetugg" class="btn btn-default btn-lg"><i class="fa fa-flickr fa-fw"></i> <span class="network-name">Flickr</span></a>
                    </li>
                    @*<li>
                    <a href="https://plus.google.com/swetugg" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="sponsor" class="even-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Our sponsors</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
             
            </div>
        </div>
        @{
	        var exhibitors = sponsors;//.Where(s => s.Priority < 100).ToArray();
            var supportSponsors = sponsors.Where(s => s.Priority >= 100).ToArray();
        }
        @if (exhibitors.Any())
        {
            @*<div class="row">
                <div class="col-xs-12">
                    <h2 class="subTitle">Utställare</h2>
                </div>
            </div>*@
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul class="logo-collection-now">

                        @foreach (var sponsor in exhibitors)
                        {
                            <li>
                                <a href="@sponsor.Web">
                                    <img class="sponsor-image img-responsive" src="/Content/swetugg-2019/img/sponsors/@(sponsor.Slug + "-thumb.png") " />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>}

        @*@if (supportSponsors.Any())
        {
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="subTitle">Stödsponsorer</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul class="logo-collection">

                        @foreach (var sponsor in supportSponsors)
                        {
                            <li>
                                <a href="@sponsor.Web">
                                    <img class="sponsor-image" src="/Content/swetugg-2019/img/sponsors/@(sponsor.Slug + "-thumb.png") " />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>}*@
    </div>
</section>


<section id="contact" class="odd-section content-section contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="noSubtitle text-center">Contact us</h2>
            </div>
        </div>
        <div class="row text-center">
	        <div class="col-lg-8 col-lg-offset-2">
		        <p>Cecilia Wirén 070-246 48 68</p>
		        <p>Anders Ljusberg 0733-82 96 88</p>
	        </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <p><a href="mailto:info@swetugg.se">info@swetugg.se</a></p>
            </div>
        </div>
        @*<div class="row text-center" style="margin-top: 40px;">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="https://www.flickr.com/photos/swetugg" target="_blank"><img src="~/Content/swetugg-2019/img/swetugg_flickr.jpg" alt="Swetugg Flickr" class="img-responsive flickr-link" /></a>
            </div>
        </div>*@
    </div>
</section>
