body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #524149;
  background-color: #F2FCFF;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
h1 {
  font-size: 44px;
  line-height: 44px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.1em;
  margin-bottom: 17px;
  color: #A30046;
}
h1.noSubtitle {
  margin-bottom: 50px;
}
h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin-bottom: 17px;
}
h2.subTitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 17px;
  text-align: center;
}
h2.subTitle:after,
h1.noSubtitle:after {
  display: block;
  height: 1px;
  width: 100px;
  content: '';
  bottom: -37px;
  position: absolute;
  margin-left: -50px;
  left: 50%;
}
h3,
h4 {
  margin: 0 0 6px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #A30046;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #3d001a;
}
.light {
  font-weight: 400;
}
#old-conference {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #7AD4E5;
  text-align: center;
  vertical-align: middle;
  font-size: larger;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #524149;
}
#old-conference a {
  color: #F2FCFF;
  text-decoration: underline;
}
@media (max-width: 650px) {
  #old-conference {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  #old-conference {
    white-space: pre-line;
    line-height: 25px;
  }
  #old-conference .part-two:before {
    content: '\A';
  }
}
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 14px;
  background-color: #A30046;
}
.navbar-brand {
  font-family: 'Rock Salt';
  font-size: 14px;
}
.navbar-brand img {
  position: relative;
  top: -10px;
  margin-right: 10px;
}
.navbar-brand > i {
  font-size: 28px;
  line-height: 0.5;
  position: relative;
  top: 5px;
}
.navbar-brand:focus {
  outline: none;
}
.navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-custom a {
  color: #F2FCFF;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #F2FCFF;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  /*.navbar-brand {
        opacity: 0;
    }*/
  .top-nav-collapse {
    padding: 0;
    background-color: #A30046;
  }
  /*.top-nav-collapse .navbar-brand {
        opacity: 1;
    }*/
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #F2FCFF;
  background: url(/Content/sthlm-2020/img/top2020.jpg);
  background-color: #524149;
  background-size: cover;
}
#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(/Content/sthlm-2020/img/top2020.jpg);
  background-color: #524149;
  background-size: cover;
}
.intro-body {
  display: table-cell;
  vertical-align: middle;
}
.brand-heading {
  font-size: 40px;
  color: #F2FCFF;
  padding-bottom: 30px;
  font-family: 'Rock Salt';
}
.brand-heading small {
  color: #F2FCFF;
  position: relative;
  font-size: 40%;
}
@media (min-width: 767px) {
  .brand-heading small {
    top: 30px;
    left: 150px;
  }
}
.intro-text {
  font-size: 18px;
  padding-top: 15px;
}
@media (min-width: 767px) {
  .intro {
    height: 70%;
    padding-top: 150px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .brand-heading {
    font-size: 100px;
  }
  .intro-text {
    font-size: 25px;
    padding-top: 15px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #F2FCFF;
  border-radius: 35px;
  font-size: 40px;
  color: #F2FCFF;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #F2FCFF;
  background: rgba(255, 255, 255, 0.1);
}
.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: -moz-transform;
  -moz-transition-property: -moz-transform;
  transition-property: -moz-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.even-section {
  width: 100%;
  padding: 50px inherit;
  color: #524149;
  background-color: #FFF7FA;
  background-size: cover;
  text-align: left;
}
.odd-section {
  width: 100%;
  padding: 50px inherit;
  color: #524149;
  /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;*/
  background-color: #F2FCFF;
  background-size: cover;
  text-align: left;
  padding-top: 0px;
}
.sponsor-section {
  width: 100%;
  padding: 20px inherit;
  color: #524149;
  /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;*/
  background-color: #FFFFFF;
  padding-top: 0px;
}
.content-section > div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.content-section > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.now-section > .container {
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 767px) {
  .now-section > .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.program-section li {
  font-size: 20px;
  margin-bottom: 20px;
}
.program-section strong {
  text-transform: uppercase;
  font-weight: normal;
}
table.schema {
  margin-bottom: 50px;
}
.schema td {
  padding: 0 !important;
}
.schema th {
  text-align: center;
}
.schemacell {
  height: 100%;
  width: 100%;
  padding: 8px;
}
.schemacell:hover {
  background: rgba(0, 0, 0, 0.03);
}
.schemacell a {
  color: black;
  text-decoration: none;
}
.schemacell-rad1 {
  font-size: 18px;
}
.schemacell-rad2 {
  font-size: 14px;
  color: #777;
}
.schemacell-rad1v2 {
    font-size: 14px;
}

.schemacell-rad2v2 {
    font-size: 18px;
    color: #777;
}
.schema-disclaimer {
  font-size: 14px;
  color: #777;
}
.member {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 160px;
  float: left;
  text-align: left;
  display: inline-block;
}
.member-name {
  font-size: 18px;
  line-height: 16px;
}
.member-twitter {
  font-size: 14px;
}
footer,
.footer-section {
  background-color: #F2FCFF;
}
.footer-rights-section {
  background-color: #524149;
  color: #F2FCFF;
}
.footer-rights-section a {
  color: #FFF7FA;
}
#map {
  width: 100%;
  height: 400px;
  margin-top: 0;
  background-color: #524149;
}
@media (min-width: 767px) {
  .content-section > div {
    padding: 75px 0 75px 0;
  }
  .sponsor-section {
    padding: 100px 15px;
  }
  #map {
    height: 400px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #A30046;
  color: #A30046;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #A30046;
  outline: none;
  color: #F2FCFF;
  background-color: #A30046;
}
.intro-body .btn-default {
  border: 1px solid #F2FCFF;
  color: #F2FCFF;
  background-color: transparent;
}
.intro-body .btn-default:hover,
.intro-body .btn-default:focus {
  border: 1px solid #F2FCFF;
  outline: none;
  color: #A30046;
  background-color: #F2FCFF;
}
.btn-huge {
  padding: 25px;
  font-size: 26px;
}
.banner-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-buttons > li:last-child {
    margin-bottom: 0;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
ul.socialNetwork {
  padding: 0;
  display: block;
}
ul.socialNetwork li {
  display: inline-block;
  list-style-type: none;
}
footer {
  padding: 44px 0;
}
#footerLogo {
  margin-bottom: 22px;
}
#footerRights {
  padding: 22px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .footerWidget {
    float: right;
  }
}
.photo-collection {
  list-style: none;
  padding-left: 20px;
}
@media (max-width: 320px) {
  .photo-collection {
    padding-left: 25px;
  }
}
.photo-collection li {
  float: left;
  width: 130px;
  height: 130px;
  margin: 20px 20px 40px 20px;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 480px) {
  .photo-collection li {
    width: 80px;
    height: 80px;
    margin: 10px 10px 60px 10px;
  }
}
@media (max-width: 320px) {
  .photo-collection li {
    width: 60px;
    height: 60px;
  }
}
.photo-collection li img {
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .photo-collection li img {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .photo-collection li img {
    width: 60px;
    height: 60px;
  }
}
.logo-collection {
  list-style: none;
}
.logo-collection li {
  float: left;
  width: 200px;
  height: 120px;
  margin: 20px 45px 40px 45px;
  font-size: 14px;
  text-align: center;
}
.logo-collection li img {
  width: 200px;
  height: 120px;
  margin-bottom: 10px;
}
.logo-collection-now {
  list-style: none;
  margin: 0 -25px;
}
.logo-collection-now li {
  float: left;
  width: 100px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
.logo-collection-now li img {
  width: 100px;
  height: 60px;
  margin-bottom: 10px;
}
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  border-bottom: 1px solid #ddd;
  background-color: #e0f5f9;
}
.rwd-table tr {
  /*border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;*/
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td[data-th]:before {
  content: attr(data-th) " ";
  /*font-weight: bold;*/
  text-wrap: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 13px;
  /*width: .51em; // magic number :( adjust according to your own content*/
  display: inline-block;
}
@media (min-width: 640px) {
  .rwd-table td[data-th]:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 640px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
}
.rwd-table .all-rooms {
  background-color: white;
  height: 80px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.rwd-table td.all-rooms {
  letter-spacing: 5px;
  font-size: 14px;
}
@media (max-width: 640px) {
  .rwd-table td.all-rooms {
    text-align: left;
    padding-left: 10px !important;
  }
}
.video-wrapper {
  max-width: 420px;
  max-height: 236px;
  margin: auto;
  margin-bottom: 50px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.space-at-bottom {
  margin-bottom: 15px;
}
.margin-top {
  margin-top: 40px;
}
.flickr-link {
  margin: auto;
}
.blockquote-container {
  font-size: 15px;
  padding-top: 10px;
}
.blockquote-small {
  background-color: #FFF7FA;
}
.blockquote-small-inverted {
  background-color: #F2FCFF;
}
.blockquote-small p {
  font-size: 15px;
  color: #A30046;
}
.blockquote-small footer {
  padding: 0;
  background: inherit;
}
.photo-collection div.photo {
  position: relative;
  display: inline-block;
}
.photo-collection span.tag-ms-mvp {
  content: url('../img/tags/front-ms-mvp-small.png');
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.speaker div.photo {
  position: relative;
  display: inline-block;
}
.speaker span.tag-ms-mvp {
  content: url('../img/tags/speaker-ms-mvp.png');
  position: absolute;
  bottom: 0px;
  right: -50px;
}