@model dynamic

@{
    ViewBag.Title = "Logos and Colors";
}

<section id="butterfly" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Color</h1>
                <div class="col-md-8 col-md-offset-2">The Swetugg pink color is #A30046</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="noSubtitle">Logos</h1>
                <h2>butterfly</h2>
                <img src="~/Content/sthlm-2023/img/logos/PinkButterbly.png" alt="Pink Swetugg Butterfly" width="300" class="logo-image" />
                <img src="~/Content/sthlm-2023/img/logos/GrayButterfly.png" alt="Gray Swetugg Butterfly" width="300" class="logo-image" />
                <h2>butterly with text (light background)</h2>
                <img src="~/Content/sthlm-2023/img/logos/GrayForLightBackground.png" alt="Gray Swetugg Butterfly with text for light background" width="500" class="logo-image" />
                <img src="~/Content/sthlm-2023/img/logos/PinkForLightBackground.png" alt="Pink Swetugg Butterfly with text for light background" width="500" class="logo-image" />
            </div>
        </div>
        <div class="row" style="background-color:#524149">
            <div class="col-md-10 col-md-offset-1">
                <h2>butterly with text (dark background)</h2>
                <img src="~/Content/sthlm-2023/img/logos/GrayForDarkBackground.png" alt="Gray Swetugg Butterfly with text for dark background" width="500" class="logo-image" />
                <img src="~/Content/sthlm-2023/img/logos/PinkForDarkBackground.png" alt="Pink Swetugg Butterfly with text for dark background" width="500" class="logo-image" />
            </div>
        </div>        
    </div>
</section>

