@model dynamic

@{
    ViewBag.Title = "Sponsor Offer Stockholm 2023";
}

<section id="info" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Sponsorship Stockholm 2023</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    If you are interested in a sponshorship email us at <a href="mailto:sponsors@swetugg.se">sponsors@swetugg.se</a>.
                </p>
                <h2>Digital sponsor, 5 000 SEK no VAT</h2>
                <p>
                    Sponsorship includes:
                    <ul>
                        <li>Your logo on our home page, on screens during the event, and on session videos we produce.</li>
                    </ul>
                </p>
                <h2>Exhibitor, 28 000 SEK no VAT</h2>
                <p>
                    Sponsorship includes:
                    <ul>
                        <li>Two entrance tickets for your exhibitor staff. Which also gives access to sessions.</li>
                        <li>Space in the exhibit area.</li>
                        <li>Your logo on our home page, on screens during the event, and on session videos we produce.</li>
                    </ul>
                </p>
                <p>Swetugg Events is a nonprofit organization, as such, we don't add VAT or other taxes.</p>
            </div>
        </div>
    </div>
</section>

