@using System.Threading.Tasks
@using Swetugg.Web.Models
@model RoomSlot
@Html.AntiForgeryToken()
@{
    var unplacedSessions = (List<Session>)ViewData["UnplacedSessions"];
}
@using (Html.BeginForm("AssignRoomSlot", "ScheduleAdmin", new { Model.SlotId, Model.RoomId }, FormMethod.Post, new { @class = "" }))
{
    <div class="input-group">
        @Html.DropDownListFor(
        m => m.AssignedSessionId,
        unplacedSessions.Select(s => new SelectListItem() { Text = ((s.Speakers.FirstOrDefault()?.Speaker?.Name) ?? "") + " - " + s.Name, Value = s.Id.ToString() }).Default("(None)", ""),
        new { @class = "form-control" })
        <button type="submit" class="btn btn-default input-group-addon">OK</button>
    </div>
}





